In [7]:
import pandas as pd

In [58]:
df=pd.read_csv('fulldata_07_24_04_P_일반음식점.csv',encoding='cp949')

C:\Users\kh502\AppData\Local\Temp\ipykernel_3108\508957695.py:1: DtypeWarning: Columns (11,17,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('fulldata_07_24_04_P_일반음식점.csv',encoding='cp949')

In [71]:
df.shape

(2132818, 48)

In [59]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [67]:
# 폐업 제외
df_open = df[~(df['영업상태명']=='폐업')]
df_open.shape

(696250, 48)

In [68]:
df_open.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
1436568,1436569,일반음식점,07_24_04_P,4040000,4040000-101-2023-00622,2023-11-30,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,53.21,NaN,NaN,NaN,NaN
1436569,1436570,일반음식점,07_24_04_P,3490000,3490000-101-2023-00443,2023-11-30,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,Y,325.14,NaN,NaN,NaN,NaN
1436570,1436571,일반음식점,07_24_04_P,3300000,3300000-101-2023-00233,2023-11-30,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,Y,166.87,NaN,NaN,NaN,NaN
1436571,1436572,일반음식점,07_24_04_P,3300000,3300000-101-2023-00232,2023-11-30,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,38.25,NaN,NaN,NaN,NaN
1436572,1436573,일반음식점,07_24_04_P,5570000,5570000-101-2023-00045,2023-11-30,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,123.15,NaN,NaN,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436568 entries, 0 to 1436567
Data columns (total 48 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   번호           1436568 non-null  int64
 1   개방서비스명       1436568 non-null  object
 2   개방서비스아이디     1436568 non-null  object
 3   개방자치단체코드     1436568 non-null  int64
 4   관리번호         1436568 non-null  object
 5   인허가일자        1436496 non-null  object
 6   인허가취소일자      0 non-null        float64
 7   영업상태구분코드     1436568 non-null  int64
 8   영업상태명        1436568 non-null  object
 9   상세영업상태코드     1436568 non-null  int64
 10  상세영업상태명      1436568 non-null  object
 11  폐업일자         1436547 non-null  object
 12  휴업시작일자       0 non-null        float64
 13  휴업종료일자       0 non-null        float64
 14  재개업일자        0 non-null        float64
 15  소재지전화        992765 non-null   object
 16  소재지면적        1308454 non-null  float64
 17  소재지우편번호      1280329 non-null  object
 18  소재지전체주소      1433890 non-null  object
 19  도로명전체주소      613641 non-null   object
 20  도로명우편번호      587804 non-null   float64
 21  사업장명         1436568 non-null  object
 22  최종수정시점       1436568 non-null  object
 23  데이터갱신구분      1436568 non-null  object
 24  데이터갱신일자      1436568 non-null  object
 25  업태구분명        1436486 non-null  object
 26  좌표정보(x)      1320597 non-null  float64
 27  좌표정보(y)      1320597 non-null  object
 28  위생업태명        1436480 non-null  object
 29  남성종사자수       1025980 non-null  float64
 30  여성종사자수       1033520 non-null  float64
 31  영업장주변구분명     650060 non-null   object
 32  등급구분명        369679 non-null   object
 33  급수시설구분명      945441 non-null   object
 34  총직원수         321814 non-null   float64
 35  본사직원수        347745 non-null   float64
 36  공장사무직직원수     347742 non-null   float64
 37  공장판매직직원수     347742 non-null   float64
 38  공장생산직직원수     347742 non-null   float64
 39  건물소유구분명      6 non-null        object
 40  보증액          347745 non-null   float64
 41  월세액          347747 non-null   object
 42  다중이용업소여부     1436562 non-null  object
 43  시설총규모        1436562 non-null  float64
 44  전통업소지정번호     6633 non-null     object
 45  전통업소주된음식     953 non-null      object
 46  홈페이지         0 non-null        float64
 47  Unnamed: 47  0 non-null        float64
dtypes: float64(18), int64(4), object(26)
memory usage: 537.0+ MB

** 개방자치단체코드
* 중구 3690000
* 남구 3700000
* 동구 3710000
* 북구 3720000
* 울주군 3730000

In [65]:
# 울산 음식점
cities = [3690000,3700000,3710000,3720000,3730000]
df_open_ulsan = df_open[df_open['개방자치단체코드'].isin(cities)]
df_open_ulsan.shape

(15509, 48)

In [69]:
df_open_ulsan.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
1436770,1436771,일반음식점,07_24_04_P,3710000,3710000-101-2021-00180,2021-10-18,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,69.20,NaN,NaN,NaN,NaN
1436824,1436825,일반음식점,07_24_04_P,3690000,3690000-101-2023-00216,2023-11-20,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
1436855,1436856,일반음식점,07_24_04_P,3730000,3730000-101-2023-00264,2023-11-27,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,76.50,NaN,NaN,NaN,NaN
1436926,1436927,일반음식점,07_24_04_P,3700000,3700000-101-2023-00512,2023-11-27,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,44.88,NaN,NaN,NaN,NaN
1437023,1437024,일반음식점,07_24_04_P,3710000,3710000-101-2023-00162,2023-11-27,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,Y,373.23,NaN,NaN,NaN,NaN

In [70]:
df_open_ulsan.to_excel('울산음식점.xlsx',index=False)